.tabs {
    margin: 20px auto;
    width: 80%;
    padding: 50px;
    border-radius: 4px;
}

.tab {
    margin: 0 0 -1px;
    padding: 20px 25px;
    color: pink;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #C8A2C8;
    color: Lavender !important;
    border: 1px solid #fff;
 }
