@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
$dark: #383838;
$light: #fbfbfb;
$border-radius: 40px;
$duration: 20s;
body {
	background: #f4f6fc;
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	flex-wrap: wrap;
	@media (min-width: 375px) {
		align-items: center;
	}
}

.iphone-x {
	position: relative;
	margin: 0px auto;
	width: 100%;
	height: 100vh;
	background-color: $light;
	border-radius: 0;
	box-shadow: 0px 0px 0px 11px #f1f1f1, 0px 0px 0px 13px #eeeeee,
		0px 0px 0px 20px #ececec, 0 55px 40px rgb(0 0 0 / 10%);
	@media (min-width: 375px) {
		margin: 40px auto;
		border-radius: $border-radius;
		height: 780px;
		width: 360px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	// home button indicator
	&:after {
		bottom: 7px;
		width: 140px;
		height: 4px;
		background-color: #f1f1f1;
		border-radius: 10px;
	}

	// frontal camera/speaker frame
	&:before {
		top: 0px;
		width: 56%;
		height: 30px;
		background-color: #f1f1f1;
		border-radius: 0px 0px 40px 40px;
		z-index: 2;
	}

	i,
	b,
	s,
	.content {
		position: absolute;
		display: block;
		color: transparent;
	}

	// speaker
	i {
		top: 0px;
		left: 50%;
		transform: translate(-50%, 6px);
		height: 8px;
		width: 15%;
		background-color: #dfdfdf;
		border-radius: 8px;
		box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
		z-index: 3;
	}

	// camera
	b {
		left: 10%;
		top: 0px;
		transform: translate(180px, 4px);
		width: 12px;
		height: 12px;
		background-color: #d5d5d5;
		border-radius: 12px;
		box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
		z-index: 3;
		&:after {
			content: "";
			position: absolute;
			background-color: #adadad;
			width: 6px;
			height: 6px;
			top: 2px;
			left: 2px;
			top: 3px;
			left: 3px;
			display: block;
			border-radius: 4px;
			box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2);
		}
	}
	.content {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		z-index: 1;
		color: red;
		background: $light;
		position: relative;
		border-radius: 0;
		@media (min-width: 375px) {
			border-radius: $border-radius;
		}
	}
}
main {
	font-family: "Poppins", sans-serif;
	color: $light;
	position: relative;
	height: 100%;
}
.intro {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 50%;
	padding: 1rem;
	padding-top: 30%;
	background: linear-gradient(transparent, white, white, white);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 2rem;
		color: #262a2f;
		margin-bottom: 1.5rem;
	}
	&__description {
		text-align: center;
		font-weight: 400;
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.35);
		margin-bottom: 1.5rem;
	}
	&__button {
		button {
			border: 0;
			outline: none;
			padding: 1rem 1.5rem;
			background: #f4b7a8;
			border-radius: 60px;
			font-size: 1.3rem;
			font-weight: 700;
			color: $light;
			transition: ease all 0.3s;
			&:hover {
				background: #ff6f4c;
			}
		}
	}
}
.launch {
	overflow: hidden;
	position: relative;
	height: 100%;
	.wrapper-images {
		display: flex;
		flex-direction: column;
		height: 150vh;
		justify-content: center;
		left: 50%;
		position: absolute;
		top: 50%;
		opacity: 0.8;
		transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(10deg)
			rotate(-10deg);
	}
	.images-line {
		animation: runner $duration linear infinite;
		display: flex;
		transform: translateX(23%);
		&:nth-child(even) {
			animation-duration: ($duration * 1.5);
		}
		.line {
			background-position: 50% 50%;
			background-size: cover;
			flex: none;
			width: 7rem;
			height: 10em;
			margin: clamp(10px, 2vw, 20px);
			position: relative;
			transition: ease-in-out all 0.3s;
			border-radius: 1rem;
			.img {
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-position: 50% 50%;
				background-size: cover;
				transition: ease-in-out all 0.3s;
				overflow: hidden;
				border-radius: 1rem;
			}
			&:hover {
				.img {
					cursor: pointer;
					transform: scale(1.1) translatez(0px);
				}
				&:after {
					filter: blur(35px) opacity(0.8);
				}
			}
			&:after {
				content: "";
				background: inherit;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				top: 3vh;
				position: absolute;
				background-size: cover;
				z-index: -1;
				transition: ease-in-out all 0.3s;
				filter: blur(25px) opacity(0.8);
			}
		}
	}
}
.hero {
	aspect-ratio: 2 / 2;
	background: var(--bg) no-repeat center center;
	background-size: 120% 120%;
	background-position: 100% 50%;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;
	&__title {
		font-weight: 700;
		font-size: clamp(1.5rem, 4vw, 2.2rem);
		margin-bottom: 0.5rem;
	}
	&__price {
		font-weight: 500;
		font-size: 1.2rem;
		padding: 0.7rem 1rem;
		background: rgb(255 255 255 / 20%);
		border-radius: 1.2rem;
		backdrop-filter: blur(10px);
		box-shadow: 1px 1px 0 0 rgb(255 255 255 / 60%);
		span {
			font-weight: 700;
		}
	}
}
.card-nft {
	aspect-ratio: 2.3 / 3;
	background: var(--bg) no-repeat center center;
	background-size: auto 100%;
	border-radius: 35px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: ease all 0.3s;
	position: relative;
	overflow: hidden;
	&:hover {
		background-size: auto 110%;
	}
	&:after {
		position: absolute;
		content: "";
		background: linear-gradient(transparent, rgb(0 0 0 / 70%));
		height: 50%;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
	& > * {
		z-index: 1;
	}
	&__title {
		font-weight: 700;
		font-size: 1.1rem;
	}
	&__deal {
		border: 0;
		border-radius: 100%;
		width: 32px;
		height: 32px;
		svg {
			transition: ease all 0.2s;
			transform-origin: bottom right;
		}
		&:hover {
			svg {
				transform: rotate(10deg);
			}
		}
	}
	&__price {
		font-weight: 500;
		font-size: 0.6rem;
		padding: 0.7rem 0.5rem;
		background: rgb(255 255 255 / 20%);
		border-radius: 1rem;
		backdrop-filter: blur(10px);
		box-shadow: 1px 1px 0 0 rgb(255 255 255 / 60%);
		span {
			font-weight: 700;
		}
	}
}
.filters {
	& > button {
		background: #303841;
		border: 0;
		outline: none;
		color: $light;
		.icon {
			background: $light;
			svg {
				stroke: #303841;
			}
		}
	}
}
.menu {
	position: sticky;
	bottom: 1rem;
	left: 50%;
	transform: translatex(-50%);
	width: fit-content;
	z-index: 3;
	& > button {
		background: #303841;
		border: 0;
		outline: none;
		color: $light;
		box-shadow: 0 10px 20px -5px rgb(48 56 65 / 40%);
	}
}
/*Dev*/
#dev {
	font-family: "Montserrat", sans-serif;
	position: fixed;
	font-size: clamp(8px, 3vw, 14px);
	top: 10px;
	left: 10px;
	padding: 1em;
	color: $dark;
	background-color: white;
	border-radius: 25px;
	cursor: pointer;
	z-index: 10;
	a {
		text-decoration: none;
		font-weight: bold;
		color: $dark;
		transition: ease all 0.3s;
		&:hover {
			color: #ef5350;
			text-decoration: underline;
		}
	}
	span {
		display: inline-block;
		transition: ease all 0.3s;
		color: pink;
		&:hover {
			transform: scale(1.2);
		}
	}
}
@keyframes runner {
	to {
		transform: translateX(-10.3%);
	}
}
